<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alejandro.porquimetro" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Index"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reportar"
            android:label="@string/title_activity_reportar" >
        </activity>
        <activity
            android:name=".Agradecimiento"
            android:label="@string/title_activity_agradecimiento" >
        </activity>
        <activity
            android:name=".BuscarP"
            android:label="@string/title_activity_buscar_p" >
        </activity>
        <activity
            android:name=".porki"
            android:label="@string/title_activity_porki" >
        </activity>
        <activity
            android:name=".mostrarP"
            android:label="@string/title_activity_mostrar_p" >
        </activity>
        <activity
            android:name=".buscarA"
            android:label="@string/title_activity_buscar" >
        </activity>
        <activity
            android:name=".Articulo"
            android:label="@string/title_activity_articulo" >
        </activity>
        <activity
            android:name=".ArticuloMostrar"
            android:label="@string/title_activity_articulo_mostrar" >
        </activity>
    </application>

</manifest>
